@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

mat-sidenav {
  width: 280px;
  padding:15px;
}

.mat-drawer { 
  color:#fff
}

.main-content {
  padding-left: 2.5em;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

h1 {
  margin-bottom: 2em;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

mat-list-item {
  margin-top: 1em;
}

a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(145, 145, 145);
  font-size: 1.3em;
  border-bottom: 1px solid rgb(216, 216, 216);
  width: 100%;
  padding-bottom: 0.5em;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 25%;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .option-img {
  margin-right: 0;
  margin-left: 8px;
}
